PORT=5000
POSTER_API_URL=
POSTER_TOKEN=
TELEGRAM_TOKEN=

# Use :80 until DNS points to this server. Then set the real domain, for example:
# CADDY_SITE_ADDRESS=:80
CADDY_SITE_ADDRESS=vps-f62dbc41.vps.ovh.net
